<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">CLIMBING GYM</a></div>
  <div fxFlex fxLayout fxLayoutAlign="end">
    <mat-form-field>
      <mat-select (selectionChange)="onSelectEvent($event.value)">
        <mat-option *ngFor="let member of members" [value]="member.id">
          {{ member.firstName }} {{ member.lastName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li><a routerLink="/members">Members</a></li>
      <li><a routerLink="/routes">Routes</a></li>
    </ul>
  </div>
</mat-toolbar>
